<div *ngIf="product" class="product-page">
    <div class="product-page-container">
        <ol class="product-breadcrumbs">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item"> / {{product.title}}</li>
        </ol>
        <div class="row">
            <div class="col-md-8">
                <div class="product-details-image"
                    [ngStyle]="{'background-image': Image}"></div>
            </div>
            <div class="col-md-4">
                <div class="product-details-row">
                    <!-- <div class="product-brand">{{product.brand}}</div> -->
                    <h1 class="product-title">{{product.title}}</h1>
                    <div class="product-price" *ngFor="let color of product.colors;let i = index" (click)="ChangeImage(product.colors[i].image)"> {{product.colors[i].color}}</div>
                    <!-- <div class="product-description">{{product.description}}</div> -->
                </div>
                <div class="product-details-button">
                    <div class="product-cart-button button button-primary button-large" >Add
                        to cart</div>
                </div>
            </div>
        </div>
    </div>
</div>