<div class="header-image">
    <div class="header-block">
        <div class="header-text">
            <div class="header-text-title">Grab-On</div>
        </div>
    </div>
</div>
<div class="layout-container">
    <div class="product-grid">
        <div class="col-md-4 col-sm-6" *ngFor="let product of products;let i = index">
            <div class="image-container">
                <div class="product-image" [routerLink]="['../product',i+1]"
                    [ngStyle]="{'background-image': 'url(./assets/imgs/' + product.image + ')'}"></div>
            </div>
            <div class="product-details">
                <div class="product-title">{{product.title}}</div>
            </div>
        </div>
    </div>
</div>